<h1>Listing deals</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th>Discount</th>
    <th>Highlight</th>
    <th>Startdate</th>
    <th>Enddate</th>
    <th>Heading</th>
    <th>Details</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @deals.each do |deal| %>
  <tr>
    <td><%= deal.name %></td>
    <td><%= deal.value %></td>
    <td><%= deal.discount %></td>
    <td><%= deal.highlight %></td>
    <td><%= deal.startdate %></td>
    <td><%= deal.enddate %></td>
    <td><%= deal.heading %></td>
    <td><%= deal.details %></td>
    <td><%= link_to 'Show', deal %></td>
    <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
    <td><%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Deal', new_deal_path %>
